


// 🎨 PALETA DE COLORES

// 🖤 NEGROS
$negro-fuerte: #000;
$negro-mate: #181818;
$negro-brillante: #232323;
$negro-contraste: #1F1F1F;
$negro-relajado: #2A2A2A;

// 🌫️ GRISES
$gris-perla-claro: #F2F2F2;
$gris-cemento: #D1D1D1;
$gris-medio: #A8A8A8;
$gris-elegante-oscuro: #707070;
$gris-carbon: #3D3D3D;

// 🤍 BLANCOS
$blanco-tradicional: #FFFFFf;
$blanco-perlado: #EAEAEA;

// ❤️ ROJOS
$rojo-intenso-resaltante: #D72638;
$rojo-elegante-profundo: #8B0000;

// 🔠 TIPOGRAFÍAS
$fuente-titulo: 'Playfair Display', serif;
$fuente-texto: 'Poppins', sans-serif;
